ion-view(view-title='Home').home
  ion-content(has-bouncing="false")
    .row.row-center
      .col.text-center(ui-sref='product_search') COMMANDE
      .col.text-center(ui-sref='home') DEVIS
      .col.text-center(ui-sref='directive_state') CARE
